<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改信息</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" sizes="32x32" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/pg_btn.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.3.2.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>

<body>

<div class="x-body">
    <form class="layui-form"  id="f_auto" th:action="@{/updateDormitory}" th:method="post" >
        <input type="hidden" th:value="${d.id}" name="id" id="id"/>
        <div class="layui-form-item">
            <label for="code" class="layui-form-label">
                <span class="">宿舍编号</span>
            </label>
            <div class="layui-input-inline">
                <input type="text" id="code" name="code"
                       autocomplete="off" th:value="${d.code}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="dormitoryLocation" class="layui-form-label">
                <span class="">宿舍楼</span>
            </label>
            <div class="layui-input-inline">
                <input type="text" id="dormitoryLocation" name="dormitoryLocation"
                       autocomplete="off" th:value="${d.dormitoryLocation}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="bedTotal" class="layui-form-label">
                <span class="">床位总数</span>
            </label>
            <div class="layui-input-inline">
                <input type="text" id="bedTotal" name="bedTotal"
                       autocomplete="off" th:value="${d.bedTotal}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="bedUsed" class="layui-form-label">
                <span class="">已用床位</span>
            </label>
            <div class="layui-input-inline">
                <input type="text" id="bedUsed" name="bedUsed"
                       autocomplete="off" th:value="${d.bedUsed}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="adminName" class="layui-form-label">
                <span class="">管理员姓名</span>
            </label>
            <div class="layui-input-inline">
                <input type="text" id="adminName" name="adminName"
                       autocomplete="off" th:value="${d.adminName}" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item" id="btn_xg">
            <button  class="layui-btn" id="btn_on"  lay-submit="" lay-filter="updateClass">
                修改
            </button>
        </div>
    </form>
</div>

<script>

</script>
</body>
</html>
