<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改信息</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" sizes="32x32" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/pg_btn.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.3.2.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</head>

<body>

<div class="x-body">
    <form class="layui-form"  id="f_auto" >
        <input type="hidden" th:value="${dormitoryGrade.id}" name="id" id="g_id"/>
        <div class="layui-form-item">
            <label for="d_id" class="layui-form-label">
                <span class="">宿舍编号</span>
            </label>
            <div class="layui-input-inline">
                <select name="dormitoryId"  id="d_id" lay-verify="required" lay-search="" disabled>
                    <option value="">请选择宿舍位置</option>
                    <option th:each="dormitoryInfo: ${dormitoryInfoList}" th:selected="${dormitoryGrade.dormitoryId == dormitoryInfo.id ? true : false}"
                            th:value="${dormitoryInfo.id}" th:text="${dormitoryInfo.code} + ':' +  ${dormitoryInfo.dormitoryLocation}"></option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="d_grade" class="layui-form-label">
                <span class="">卫生打分</span>
            </label>
            <div class="layui-input-inline">
                <input type="text" id="d_grade" name="grade"
                       autocomplete="off" th:value="${dormitoryGrade.grade}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" id="btn_xg">
            <button  class="layui-btn" id="btn_on" lay-submit=""  lay-filter="updateDormitoryGrade">
                修改
            </button>
        </div>
    </form>
</div>

<script>
    layui.use(['form','layer'], function(){
        var form = layui.form,
            $ = layui.jquery
        form.on('submit(updateDormitoryGrade)', function(data) {
            var param = data.field;
            $.ajax({
                url: baseUrl + '/updateDormitoryGrade',
                type: "post",
                data: JSON.stringify(param),
                contentType: "application/json; charset=utf-8",
                success:function(data){
                    data = JSON.parse(data)
                    console.log(data)
                    if (data.code == 1) {
                        console.log(data.code)
                        layer.msg(data.msg, {icon: 1, time: 3000});
                        setTimeout(function () {window.location.href= baseUrl + '/findDormitoryGrade';},2000);
                    }else {
                        layer.msg(data.msg, {icon: 0, time: 3000});
                    }
                },
                error:function(data){
                    layer.msg(data.msg, {icon: 0, time: 3000});
                    setTimeout(function () {window.location.href= baseUrl + '/findDormitoryGrade';},2000);
                }
            });
            return false;
        })

    });

</script>
</body>
</html>

