<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdut.dormitory_system.dao.DormitoryGradeDao">

    <sql id="dormitoryGradeSql">
        SELECT
            g.*,
            d.code,
            d.dormitory_location
        FROM
            `dormitory_grade` g
                LEFT JOIN dormitory_info d ON g.dormitory_id = d.id
    </sql>

    <resultMap id="dormitoryGradeMap" type="com.gdut.dormitory_system.entity.DormitoryGrade">
        <id column="id" property="id"/>
        <result column="dormitory_id" property="dormitoryId"/>
        <result column="grade" property="grade"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
        <collection property="dormitoryInfo" ofType="com.gdut.dormitory_system.entity.DormitoryInfo">
            <result column="code" property="code"/>
            <result column="dormitory_location" property="dormitoryLocation"/>
        </collection>
    </resultMap>

    <select id="selectDormitoryGradePage" resultMap="dormitoryGradeMap">
        <include refid="dormitoryGradeSql"></include>
        <where>
            <if test="code != null and code !=''">
                and d.code = #{code}
            </if>
            <if test="location != null and location != ''">
                and concat('%',d.dormitory_location ,'%') like concat('%',#{location} ,'%')
            </if>
        </where>
    </select>
</mapper>